<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<h1>View</h1>
	<p>Values are correct at time of page request, are not updated automatically.</p>
	<table class="table table-bordered table-striped" title="Left tab">
		<thead>
			<tr>
				<th>Name</th>
				<th>Value</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>channel</td>
				<td th:text="${leftTab.channel}" />
				<td/>
			</tr>
			<tr>
				<td>cgLayer</td>
				<td th:text="${leftTab.cgLayer}" />
				<td/>
			</tr>
			<tr>
				<td>state</td>
				<td th:text="${leftTab.state}" />
				<td th:switch="${leftTab.state}">
					<a th:case="'on'" th:href="@{/leftTab/off}">Switch off</a>
					<a th:case="*" th:href="@{/leftTab/on}">Switch on</a>
				</td>
			</tr>
			<tr>
				<td>textSuffix</td>
				<td th:text="${leftTab.textSuffix}" />
				<td/>
			</tr>
		</tbody>
	</table>
</body>
</html>
